body{    
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/Frontend/img_asesoramiento/fondo2.jpg), no-repeat;   
    background-size: cover; 

}
h2{
    margin-left: 50px;
    padding: 10px;
}
.btn_01{
    margin-left: 50px;
}
.gigantes01{
    display: flex;
    margin:  20px 50px;
    height: 300px;
    width: 300px;
    border-radius: 15px;

}
.titulo{
    margin-left: 50px;
    font-size: 20px;
    text-shadow: 2px 1px #98ca3e;
}
.texto{
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}




