c*{
    font-family: gadugi;
}
body{
    background-color: #2d2e2f;
    color: white;
}
@font-face{
    font-family: gadugi;
    src: url(gadugi-normal.ttf);
}

img.d-block w-100 {
    padding: 5px;
    color: black;

};
p {color: red
};