*{
    font-family: gadugi;
}
body{
    background-color: #2d2e2f;
    color: white;
}
@font-face{
    font-family: gadugi;
    src: url(gadugi-normal.ttf);
}


/*<--Section hero-->*/

.hero{
    position: relative;
    width: 100%;
    height: calc(100vh -50px);
    background-color: #2d2e2f;
    background-size: cover;
    background-position: center;
    
}
.banner{
    width: 100%;
    height: 600px;
    background-size:100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/Inicio.jpg);
    }


.ventana {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    display: flex;
}
.info{
    z-index: 1;
    width: 100%;
    max-width: 550px;
    text-align: center;
    

}
.h1{
    font: size 45px;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
    
}
.p{
    line-height: 1.7;
    margin-bottom: 30px;
    
}
.btm1 {
text-decoration:none;
color:blacks;
padding: 5px 5px;
border: 1px solid white;
border-radius: 5px;
background-color: white;
text-transform: uppercase;
text-align: center;


}
/*<--Section hero-->*/


/* <--Section cards-trayectos--> */
.reseña{
    margin: 1.25em 15% 2.5em 10%;
    text-align: justify;
    font-size: 24px;
}
.title_hikeTheMountain{
    text-align: center;
    margin-bottom: 30px;
}
.row{
    margin-left: 13%;
    
    
}
.card{
    text-align: center;
    margin: 0rem 0rem 0rem 1.875rem;
    background-color: transparent;
    font-size: 18px;
    
}
.card-img-top{
    height: 25rem;
    width: 23.75rem;
    margin:0.3125rem 0rem 0.3125rem 0rem;
    
}
.card-img-top:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0rem 0rem 0.9375rem 0.9375rem #98ca3e;
    -webkit-box-shadow: 0rem 0rem 0.9375rem 0.9375rem #98ca3e;
    -webkit-transition: width 1s ease-in-out 0s,
                        height 1s ease-in-out 1s;
    }
.btn{
    background-color: #9ba08b ;
    color: aliceblue;
    font-size: 18px;
    font-style: strong;
}

/* <--Section cards-trayectos--> */


