*{
    font-family: gadugi;
}
body{
    background-color: #2d2e2f;
    color: white;
}
@font-face{
    font-family: gadugi;
    src: url(gadugi-normal.ttf);
}
/* <--Section cards-trayectos--> */
.reseña{
    margin: 1.25em 15% 2.5em 10%;
    text-align: justify;
    font-size: 24px;
}
.title_hikeTheMountain{
    text-align: center;
    margin-bottom: 30px;
}
.row{
    margin-left: 13%;
    
    
}
.card{
    text-align: center;
    margin: 0rem 0rem 0rem 1.875rem;
    background-color: transparent;
    font-size: 18px;
    
}
.card-img-top{
    height: 25rem;
    width: 23.75rem;
    margin:0.3125rem 0rem 0.3125rem 0rem;
    
}
.card-img-top:hover{
    border-radius:50%;
    -webkit-border-radius:50%;
    box-shadow: 0rem 0rem 0.9375rem 0.9375rem #98ca3e;
    -webkit-box-shadow: 0rem 0rem 0.9375rem 0.9375rem #98ca3e;
    -webkit-transition: width 1s ease-in-out 0s,
                        height 1s ease-in-out 1s;
    }
.btn{
    background-color: #9ba08b ;
    color: aliceblue;
    font-size: 18px;
    font-style: strong;
}

/* <--Section cards-trayectos--> */
