<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/Root/Styles/style.css">
  <link rel="stylesheet" href="/Root/Styles/nav.css">
  <link rel="stylesheet" href="/Root/Styles/style-form.css"> 
  <link rel="stylesheet" href="/Root/Styles/herobanner.css">
  <link rel="stylesheet" href="/Root/Styles/Formlogin.css">
  <link rel="stylesheet" href="/Root/Styles/foot.css">
  <title> Mountain Hike Córdoba</title>
  <!-- <link rel="stylesheet" href="./Root/Styles/style carrusel.css"> -->

</head>

<body>
  <header class="header">
    <a href="#" class="logo">
      <img src="/Root/Assets/img/logoMountainBlanco.png" alt="logo de la compañia" class="logo-img">
    </a>
    <nav class="navbar">
      <a href="index.html" class="nav-link">Home</a>
      <a href="nosotros.html" class="nav-link">Nosotros</a>
      <a href="Asesoramiento.html" class="nav-link">Mountain hike</a>

      <a href="/View/loginPage.html" class="nav-link">Iniciar sesion</a>

    </nav>
  </header>
  <main>
    <!--section hero-->
       <section class= "hero">
            <div class="banner">
                <div class="ventana">
                    <div class ="info">
                        <h1>Llegá Lejos</h1>
                        <p>Trekking Senderismo </p>
                        <a href="#" class="btm1">Suscríbete</a>
                    </div>
                </div>
            </div>
        </section>
       
    <!--/section hero-->


    <!--Section cards-trayectos-->

    <p class="reseña">
      Somos un equipo de profesionales entre los que hay profes de educación
      física, personal trainers, escaladores, ciclistas, guías. Nos une el mismo
      sentimiento, que es la pasión por lo que hacemos, pero por sobre todo amor
      y respeto por la naturaleza . Queremos inspirar a las personas a llevar
      sus viajes al siguiente nivel y conectarse con la naturaleza con la ayuda
      de guías profesionales que pueden mejorar las aventuras al aire libre para
      que sean únicas, enriquecedoras y seguras.
    </p>
    <h2 class="title_hikeTheMountain">Hike the Mountain</h2>
    <div class="row-custom row">
      <div class="card col-sm-4" style="width: 25rem;">
        <img src="/Root/Assets/img/imagen02.jpg" class="card-img-top" alt="Los Gigantes">
        <div class="card-body">
          <h5 class="card-title">Los Gigantes</h5>
          <p class="card-text">Los Gigantes pertenecen al extremo norte de las Sierras Grandes. La formación se remonta
            a 300 y 350 millones de años atrás. El macizo es atractivo por las grandes piedras graníticas, que generan
            siluetas de incontables formas. Un laberinto que puede desorientar hasta al más aventurero, si no camina con
            mucha atención. Siendo uno de los centros de escalada en roca más importantes del país, sus paredes poseen
            unas 400 rutas equipadas de escalada deportiva. ¡Todo un lujo!</p>
          <a href="#" class="btn">Reservas</a>
        </div>
      </div>
      <div class="card col-sm-4" style="width: 25rem;">
        <img src="/Root/Assets/img/imagen0302.jpg" class="card-img-top" alt="Los Terrones">
        <div class="card-body">
          <h5 class="card-title">Los Terrones</h5>
          <p class="card-text">En la zona de Capilla del Monte todo es, o parece, de otro planeta, y si bien los
            extraños paisajes del Parque Autóctono Cultural y Recreativo Los Terrones parecen una obra de
            extraterrestres, las curiosas formaciones rocosas son el producto de la erosión del agua y el viento durante
            millones de años. Es un paseo ineludible para llenarse de energía en cualquier momento del año. Su recorrido
            entre cañadones y formaciones rocosas multicolores es una invitación para el asombro.</p>
          <a href="#" class="btn">Reservas</a>
        </div>
      </div>
      <div class="card col-sm-4" style="width: 25rem;">
        <img src="/Root/Assets/img/imagen0402.jpg" class="card-img-top" alt="Champaquí">
        <div class="card-body">
          <h5 class="card-title">Cerro Champaquí</h5>
          <p class="card-text">El Cerro Champaquí, un gigante de piedra de 2790 m.s.n.m., es la montaña más alta de la
            Provincia de Córdoba. Se ubica en el centro del Cordón de Sierras Grandes y despliega hacia el este el Valle
            de Calamuchita y al oeste el Valle de Traslasierra.
            Esta montaña permite a cada excursionista que se aventure en sus dominios vivir nuevas y únicas
            experiencias. Ofrece la posibilidad de regresar innumerables veces, recorrer diferentes caminos en
            diferentes épocas del año y con todos los climas imaginables.</p>
          <a href="#" class="btn">Reservas</a>
        </div>
      </div>

    </div>



    <!--/Section cards-trayectos-->


    <!--Section Reseñas-Testimonios-->

    <section class= "resena">
      <h1> Reseñas  </h1>
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/Root/Assets/img/avatar02.png" class="d-block w-100" alt="banner1">
              <div class="carousel-caption d-none d-md-block">
                <h5>Jose Feliciano</h5>
                <p> Cordoba </p>
                <p> 29 años </p>
                <P>Champaqui</P>
                <p> El recorrido me encanto muy didactico e informativo se pueden observar lugares hermosos super recomendado  </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/Root/Assets/img/avatar03.png" class="d-block w-100" alt="banner2">
              <div class="carousel-caption d-none d-md-block">
                <h5>Maria Balcasar</h5>
                <p> Mendosa</p>
                <p> 35 años </p>
                <P>Los gigantes </P>
                <p> Es la primera ves que conosco algo de cordoba y me sorprendio los paisajes muy lindo recorrido espero poder realizar otros recorridos nuevos   </p>
               
              </div>
            </div>
            <div class="carousel-item">
              <img src="/Root/Assets/img/avatar01.png" class="d-block w-100" alt="banner3">
              <div class="carousel-caption d-none d-md-block">
                <h5> Abel y Maria </h5>
                <p> Rosario</p>
                <p> 23 y 26 años </p>
                <P> Los Terrones  </P>
                <p> Hermosa experiencia para disfrutar con la pareja, un lugar hermoso lleno de verde y el guia nos resuto muy atento los recomendamos   </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/Root/Assets/img/avatar02.png" class="d-block w-100" alt="banner 4">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Gonzalo Sanchez </h5>
                  <p> Cordoba </p>
                  <p> 27 años </p>
                  <P>Champaqui</P>
                  <p>Me encanto me toco un grupo super divertido y amigable, una experiencia para vivirla y disfrutarla   </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/Root/Assets/img/avatar03.png" class="d-block w-100" alt="banner 5">
              <div class="carousel-caption d-none d-md-block">
                  <h5>Lorena  Estevez </h5>
                  <p> La Rioja </p>
                  <p> 20 años </p>
                  <P>Los Terrones </P>
                  <p> Me encantaria que agreguen recorridos de mi provincia, es un lugar inolvidable hermoso los descanzos estan muy bien ubicados muy conforme con el recorrido   </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/Root/Assets/img/avatar01.png" class="d-block w-100" alt="banner 6">
              <div class="carousel-caption d-none d-md-block">
                <h5>Marcos y Mariela </h5>
                <p>Cordoba</p>
                <p>30 y 60 años</p>
                <p> Nos gusto mucho el recorrido el lugar es un sueño y el nivel de dificultad muy acorde a mi abuela lo pudo superar sin problemas gracias </p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </section>



    <!--/Section Reseñas-->



    <!--Section fotos de viajes-->

    <!-- En Proceso-->


    <!--/Section fotos de viajes-->


    <!--Formulario de Subscripcion-->
    <div class="container  mt-5 rounded custom-shadow">
      <div class="row align-items-stretch">

        <div class="col-bg---custom  col-xl-6  col-lg-6 col-sm-6  rounded">
        </div>

        <div class="col-lg-6 col-xl-6 col-sm-6 p-4 rounded-end mb-5">

          <h4 class="text-center py-5">No te pierdas las próximas salidas</h4>

          <form>
            <div class="mb-3">
              <label for="exampleInputNombre" class="form-label">Nombre</label>
              <input type="text" class="form-control custom-input" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputApellido" class="form-label">Apellido</label>
              <input type="email" class="form-control custom-input" id="exampleInputEmail1"
                aria-describedby="emailHelp">
            </div>
            <div class="mb-3 mb-5">
              <label for="exampleInputEmail" class="form-label">Email</label>
              <input type="email" class="form-control custom-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="email@dominio.com">
            </div>
            <div class="col-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                  Acepta los términos y condiciones
                </label>
                <div class="invalid-feedback">
                  Debe estar de acuerdo antes de enviar.
                </div>
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-custom"data-bs-toggle="modal" data-bs-target="#staticBackdrop">Suscribite</button>
              <legend class="text-center mt-3">Para recibir novedades</legend>
            </div>

            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Mountain Hike Córdoba</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    La suscripción se realizó con éxito
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    
                  </div>
                </div>
              </div>
            </div>

       
          </form>
        </div>
        
      </div>
    </div>

    <!-- /Formulario de Subscripcion-->

  </main>
  <footer>
    <div class="mountain">
      <h2 class="foot-mountain">  <img id="logmountain" src="/Root/Assets/img/logoMountainBlanco.png" alt="logoMHblanco" width="60px">MOUNTAIN HIKE</h2>
      <p class="descripcion-foot">
  Mountain Hike es una plataforma en la que podras elegir tus mejores rutas y aventuras, obteniendo una experiencia única.
      </p>
  </div>
  <div class="contact">
      <h2 class="foot-contacto">CONTACTO</h2>
      <ul class="lista-contacto">
          <li><img id="logdireccion" src="/Root/Assets/img/icono-direccion.png" alt="logoDireccion">  Córdoba, Argentina</li>
          <li><img id="logmail" src="/Root/Assets/img/icono-Mail.png" alt="logoMail">  contacto@mountainhike.com</li>
          <li><img id="logtelefono" src="/Root/Assets/img/icono-phone.png" alt="logoTelefono" width="40px">  3514 56 6566</li>
          <li><img id="logwathsapp" src="/Root/Assets/img/icono-whatsapp.png" alt="logoWhatsapp">  +54 3514566665</li>
      </ul>
  </div>
  <div class="seguinos">
      <h2 class="foot-seguinos">SEGUINOS</h2>
          <a href="https://www.facebook.com"><img id="logfacebook" src="/Root/Assets/img/redes-facebook.png" alt="logoFacebook" width="60px"></a>
          <a href="https://www.instagram.com"><img id="loginstagram" src="/Root/Assets/img/redes-instagram.png" alt="logoInstagram" width="60px"></a>
          <a href="https://www.youtube.com"><img id="logyoutube" src="/Root/Assets/img/redes-youtube.png" alt="logoYoutube" width="60px"></a>
          <a href="https://play.google.com"><img id="logandroid" src="/Root/Assets/img/redes-android.png" alt="logoAndroid" width="60px"></a>
  </div>
  <div class="rights">
      <h3 class="derechos-foot"> Mountain Hike Córdoba © 2022 • Todos los Derechos Reservados •</h3>
      <a href=""><img id="logdisenando" src="/Root/Assets/img/logoDiseñandoSinFronteras.png" alt="logodelDiseñador" width="50px"></a>
  </div>
    
  </footer>

  <script src="javaScript.js"></script>

  <!--boostrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>
